.about-hero .container-wrapper {
  background: linear-gradient(180deg, transparent 50%, rgba(21, 21, 21, 1) 50%);
}

.about-hero .about-hero-background {
  display: flex;
  flex-direction: column-reverse;
  height: 716px;
  background-image: url('../../../../img/about-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.about-hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.about-hero .title {
  font-size: 66px;
  max-width: 1260px;
  width: 100%;
  padding: 0 20px;
}

.about-list-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  width: 100%;
  max-width: 1260px;
  min-height: 106px;
  padding: 0 20px;
}

.about-hero.section .about-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 51px;

}

.about-item-text {
  margin-left: 10px;
  margin-right: 10px;
}

.about-item:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 51px;
  padding-right: 10px;
}

.about-wrap-img .about-img {
  position: absolute;
}

.about-item {
  display: flex;
  flex-direction: row;
  gap: 61px;
}

.about-hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .about-hero .title {
    font-size: calc((100vw - 480px) / (1280 - 480) * (1 * 0.66) + 66px);
  }
  .about-list {
    gap: 20px;
  }
  .about-item {
    flex-direction: column;
    gap: 10px;
    border-bottom: 4px solid var(--fill-icon);
  }
  .about-hero.section .about-list .about-item {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }


  .about-hero.section .about-list {
 
    padding-left: 0px;
    padding-right: 0px;
  
  }

  .about-wrap-img .about-img {
    position: absolute;
  }

  .about-hero-text {
    gap: 10px;
  }
}
