.our-story .container {
  padding: 40px 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.our-story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  max-width: 405px;
}

.our-story-wrapper .title {
  text-transform: uppercase;
}

.our-story-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.oru-story-list-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.our-story-img {
  flex-basis: 100%;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .our-story .container {
    padding: 40px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }


  .our-story .container {
    padding-bottom: 40px;
  }
  /* .oru-story-list-img {
    flex-direction: column;
  } */
  .oru-story-list-img .our-story-item-img:not(:first-child) {
    display: none;
  }
  

  /* .oru-story-list-img:first-child {
    display: list-item;
  } */
}
