<section class="company-info section">
  <div class="container">
    <h2 class="title">About company</h2>

    <iframe
      class="company-iframe"
      width="1240%"
      height="598"
      src="https://www.youtube.com/embed/F3wTNu7BjMs"
      title="Is It Worth Getting Into Trucking in 2021? (Pros and Cons, Past, Present &amp; Future Projections)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>

    <ul class="company-info-list">
      <li class="company-info-item">
        <div class="company-wrap-item">
          <h3 class="title">Safety</h3>
          <p class="text">
            <span class="company-info-note"
              >A great chef, in order to better discover his culinary skills, he
              traces all the major food cultures along the way and eventually
              becomes a super chef. The story is interspersed with various
              culinary techniques and cultural elements to give the reader a
              taste of the food.</span
            >
            <span class="company-info-note"
              >A great chef, in order to better discover his culinary skills, he
              traces all the major food cultures along the way and eventually
              becomes a super chef. The story is interspersed with various
              culinary techniques and cultural elements to give the reader a
              taste of the food.</span
            >
          </p>
        </div>
        <div class="company-wrap-iframe">
          <iframe
            class="company-info-iframe"
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d197.46471401341304!2d30.38351368679444!3d50.4475011459488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1717754858331!5m2!1sru!2sua&disableDefaultUI=true&zoom=10&maptype=roadmap&center=50.447501,30.383513"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            disableDefaultUI="true"
          ></iframe>
        </div>
      </li>
      <li class="company-info-item">
        <div class="company-wrap-item">
          <h3 class="title">Safety</h3>
          <p class="text">
            <span class="company-info-note"
              >A great chef, in order to better discover his culinary skills, he
              traces all the major food cultures along the way and eventually
              becomes a super chef. The story is interspersed with various
              culinary techniques and cultural elements to give the reader a
              taste of the food.</span
            >
            <span class="company-info-note"
              >A great chef, in order to better discover his culinary skills, he
              traces all the major food cultures along the way and eventually
              becomes a super chef. The story is interspersed with various
              culinary techniques and cultural elements to give the reader a
              taste of the food.</span
            >
          </p>
        </div>
        <div class="company-wrap-iframe">
          <iframe
            class="company-info-iframe"
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d197.46471401341304!2d30.38351368679444!3d50.4475011459488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1717754858331!5m2!1sru!2sua&disableDefaultUI=true&zoom=10&maptype=roadmap&center=50.447501,30.383513"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            disableDefaultUI="true"
          ></iframe>
        </div>
      </li>
    </ul>
  </div>
  <div class="company-info-btn-wrap">
    <div class="container">
      <h3 class="title">The door is always open</h3>
      <button class="btn" onclick="window.location.href='./contact-us.html'">
        Contact us
      </button>
    </div>
  </div>
</section>
