{% for el in about_company %}
<section class="company-info section">
  <div class="container">
    <h2 class="title">{{ el.company_title }}</h2>

    <iframe
      class="company-iframe"
      width="1240%"
      height="598"
      src="{{ el.iframe }}"
      title="Is It Worth Getting Into Trucking in 2021? (Pros and Cons, Past, Present &amp; Future Projections)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
{% endfor %}
    <ul class="company-info-list">
      {% for el in card_map %}
      <li class="company-info-item">
        <div class="company-wrap-item">
          <h3 class="title">{{ el.card_title }}</h3>
          <p class="text">
            <span class="company-info-note"
              >{{el.card_text}}</span
            >
            <!-- <span class="company-info-note"
              >A great chef, in order to better discover his culinary skills, he
              traces all the major food cultures along the way and eventually
              becomes a super chef. The story is interspersed with various
              culinary techniques and cultural elements to give the reader a
              taste of the food.</span
            > -->
          </p>
        </div>
        <div class="company-wrap-iframe">
          <iframe
            class="company-info-iframe"
            src="{{ el.card_iframe }}"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            disableDefaultUI="true"
          ></iframe>
        </div>
      </li>
   {% endfor %}
    </ul>
  </div>
  {% for el in about_info %}

  <style>
    .company-info-btn-wrap {

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('{{ el.info_background_img.url }}');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  </style>
  <div class="company-info-btn-wrap">
    <div class="container">
      <h3 class="title">{{ el.info_title }}</h3>
      <button class="btn" onclick="window.location.href='./contact-us.html'">
        Contact us
      </button>
    </div>
  </div>
  {% endfor %}
</section>
