{% for el in about_hero %}
<style>
.about-hero .about-hero-background {
  background-image: url('{{ el.main_background_img.url }}');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
</style>
<section class="about-hero section">
  <div class="about-hero-background">
    <div class="about-hero-description">
      <h1 class="title">{{ el.main_title }}</h1>
      <ul class="about-list-text">
        <li class="about-item-text">
          <p class="text">
           {{ el.main_text }}
          </p>
        </li>
        <!-- <li class="about-item-text">
          <p class="text">
            A young emigrant tried himself in the restaurant and construction
            industry, which wasn’t his thing, and then he finally got his CDL,
            and from day 1 he fell in love with trucking, especially in an open
            deck, heavy haul industry.
          </p>
        </li> -->
      </ul>
    </div>
  </div>
  {% endfor %}
  <div class="container-wrapper">
    <div class="container">
      <ul class="about-list">
        {% for el in hero_card %}
        <li class="about-item">
          <p class="about-hero-text">
            <span class="text"
              >{{ el.card_text }}</span
            ></p>
           <img
            src="{{  el.card_img.url }}"
            alt=""
            class="about-img"
          />
        </li>
      {% endfor %}
             </ul>
    </div>
  </div>
</section>
