<section class="about-team section">
  <div class="container">
    {% for el in about_teem %}
    <h2 class="title">{{ el.teem_title }}</h2>
    {% endfor %}
    <ul class="team-list">
      {% for el in about_card_teem %}
      <li class="team-item">
        <img
          src="{{ el.card_img.url }}"
          alt="Dispatcher Roman"
          class="team-img"
        />
        <div class="text-container">
          <h3 class="sub-title">{{ el.card_name }}</h3>
          <p class="text">{{ el.card_position }}</p>
        </div>
      </li>
      {% endfor %}
   
    </ul>
  </div>
</section>
