{% load static %} 
<section class="why-us section">
  <div class="container">
    <h2 class="title">
      <span>Why Choose</span> <span>V Z TRANSPORTATION</span
      ><span>Trucking Inc?</span>
    </h2>
    <ul class="why-us-list">
      {% for el in advantages_text %}
      <li class="why-us-item">
        <img class="why-us-img" src="{% static 'careers/img/Frame1.png' %}" alt="" />
        <p class="why-us-text">{{ el.text }}</p>
      </li>
      {% endfor %}
      <!-- <li class="why-us-item">
        <img class="why-us-img" src="../../../img/why-us-icon.png" alt="" />
        <p class="why-us-text">The friendly environment</p>
      </li>
      <li class="why-us-item">
        <img class="why-us-img" src="../../../img/why-us-icon.png" alt="" />
        <p class="why-us-text">The newest tracking systems, full visibility</p>
      </li>
      <li class="why-us-item">
        <img class="why-us-img" src="../../../img/why-us-icon.png" alt="" />
        <p class="why-us-text">The highest salaries for drivers</p>
      </li>
      <li class="why-us-item">
        <img class="why-us-img" src="../../../img/why-us-icon.png" alt="" />
        <p class="why-us-text">The friendly environment</p>
      </li>
      <li class="why-us-item">
        <img class="why-us-img" src="../../../img/why-us-icon.png" alt="" />
        <p class="why-us-text">The newest tracking systems, full visibility </p>
      </li> -->
    </ul>
  </div>
</section>
