.modal {
  position: relative;
  max-width: 460px;

  background: var(--background-body);
  padding: 20px;
  border-radius: 1px;
}
.modal-close-btn {
  position: absolute;
  position: relative;
  top: 0;
  right: -90%;
  width: 30px;
  height: 30px;
  background: var(--background-body);
  border: none;
}
.modal-close-btn::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--background-body);

  top: 12px;
  right: 5px;
  width: 20px;
  height: 2px;
  background: white;
  z-index: 100;
  transform: rotate(45deg);
}

.modal-close-btn::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 5px;
  width: 20px;
  height: 2px;
  background: white;
  z-index: 100;
  transform: rotate(-45deg);
}
