{% extends 'main/layout.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'brokerage/css/truck-details.css' %}" />
{% endblock %} {% block title %} Brokerage {% endblock %} {% block content %}
<section class="truck-details section">
  <div class="container">
    <h2 class="title">{{truck.name}}</h2>
    <div class="truck-wrap">
    <div class="wrapper">
      <div class="swiper-box">
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            {% for el in truck.images.all %}
            <div class="swiper-slide">
              <img src=" {{el.image.url}}" />
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="swiper-pagination">
          <div class="swiper-prev">
            <svg class="swiper-icon-prev" width="18" height="18">
              <use href="/static/main/img/sprite.svg#icon-next"></use>
            </svg>
          </div>
          <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
              {% for el in truck.images.all %}
              <div class="swiper-slide">
                <img src=" {{el.image.url}}" />
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-next">
            <svg class="swiper-icon-next" width="18" height="18">
              <use href="/static/main/img/sprite.svg#icon-next"></use>
            </svg>
          </div>
        </div>
      </div>
    
      <ul class="detail-list">
        {% if truck.year %}
        <li class="details-item">
          <svg class="brokerage-track-icon" width="38" height="42">
            <use href="/static/main/img/sprite.svg#icon-calendar"></use>
          </svg>
          <p class="brokerage-track-text text">{{ truck.year|date:"Y"}}</p>
        </li>
        {% endif %}
        {% if truck.speed %}
        <li class="details-item">
          <svg class="brokerage-track-icon" width="52" height="43">
            <use href="/static/main/img/sprite.svg#icon-speed"></use>
          </svg>
          <p class="brokerage-track-text text">{{ truck.speed }}</p>
        </li>
        {% endif %}
        {% if el.trailer %}
        <li class="brokerage-track-item">
          <svg class="brokerage-track-icon" width="64" height="34">
            <use href="/static/main/img/sprite.svg#icon-trailer"></use>
          </svg>
          <p class="brokerage-track-text">{{ el.trailer }}</p>
        </li>
        {% endif %}
        {% if truck.transmission %}
        <li class="details-item">
          <svg class="brokerage-track-icon" width="43" height="43">
            <use href="/static/main/img/sprite.svg#icon-automatic"></use>
          </svg>
          <p class="brokerage-track-text text">{{ truck.transmission }}</p>
        </li>
        {% endif %}
        {% if truck.impact_protection %}
        <li class="details-item">
          <svg class="brokerage-track-icon" width="38" height="42">
            <use href="/static/main/img/sprite.svg#icon-front-impact"></use>
          </svg>
          <p class="brokerage-track-text text">{{ truck.impact_protection}}</p>
        </li>
        {% endif %}
      </ul>
  
    </div>
    <div class="details-wrapper">
      <div class="details-wrap">
        <div class="details-track-progress-bar">
          <svg class="details-track-icon" width="60" height="48">
            <use href="/static/main/img/sprite.svg#icon-money"></use>
          </svg>
          <h3 class="title">The cost of the car</h3>
          <p class="details-track-progress-text">${{truck.price|floatformat:"0"}}</p>
          <svg class="details-track-sub-icon" width="18" height="18">
            <use href="/static/main/img/sprite.svg#icon-vector-2"></use>
          </svg>
        </div>

        <button class="btn" id="order-btn" type="button">Order</button>
      </div>
      <ul class="details-paragraph-list">
        <li class="details-paragraph-item">
          <p class="text">
            {{truck.description}}
          </p>
        </li>
        </ul>
    </div>
    </div>
  </div>
  <div class="bacdrop is-hidden" id="bacdrop">
    <div class="modal">
      <button class="modal-close-btn" id="modal-close-btn" type="button"></button>
      <form class="contact-us-form" id="contact-us-form">
      
        <h3 class="contact-us-title sub-title">We will call you back</h3>
        <label class="label">
     
          <input class="input" type="text" id="name" placeholder="" />
          <span class="label-span">Name</span>
        </label>
    
          <label class="label">
       
            <input class="input" type="email" id="email" placeholder="" />
            <span class="label-span">Email</span>
          </label>

    
     
          <textarea class="contact-us-textarea" name="comment" id="comment"></textarea>
    
        <button type="submit" class="btn">SEND</button>
      </form>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="{% static 'brokerage/js/verificationFormBrokerage.js' %}"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 10,
    slidesPerView: 5,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var swiper2 = new Swiper(".mySwiper2", {
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-next",
      prevEl: ".swiper-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
  jQuery(document).ready(() => {
    $("#order-btn").on("click", function (e) {
      $("#bacdrop").toggleClass("is-hidden");
      $("body").toggleClass("hidden");
    });
  });
  jQuery(document).ready(() => {
    $("#modal-close-btn").on("click", function (e) {
      $("#bacdrop").toggleClass("is-hidden");
      $("body").toggleClass("hidden");
    });
  });
</script>

{% endblock %}
