{% for item in main %}
<style>
 @media (max-width: 767px) {
    .responsive-video source {
        content: url("");
    }
}
</style>
<section class="hero section">
  <div class="hero-background">
    {% if item.main_background_video %}
    <video class="responsive-video" autoplay muted loop playsinline style="width: 100%; height: auto;">
        <source  id="video-source" src="{{ item.main_background_video.url }}" type="video/mp4">
        
    </video> 
    <video class="responsive-video-mobil" autoplay muted loop playsinline style="width: 100%; height: auto;">
      <source  id="video-source" src="{{ item.main_background_video_mobile.url }}" type="video/mp4">
      
  </video>
{% endif %}
<h1 class="hero-title title">
  {{ item.main_title }}<br>
</h1>
  </div>
  <div class="container">
   
    {% endfor %}
    <ul class="hero-list">
      {% for item in main %}
      <li class="hero-item">
        <h2 class="sub-title">{{ item.main_card_title_first }}</h2>
        <p class="text">
          {{ item.main_card_text_first }}
        </p>
      </li>
      <li class="hero-item">
        <h2 class="sub-title">{{ item.main_card_title_second }}</h2>
        <p class="text">
          {{ item.main_card_text_second }}
        </p>
      </li>
      <li class="hero-item">
        <h2 class="sub-title">{{ item.main_card_title_three }}</h2>
        <p class="text">
          {{ item.main_card_text_three }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
