{% extends 'main/layout.html' %}
 {% load static %} 
 {% block style %}
 <link rel="stylesheet" href="{% static 'services/services.css' %}" />

{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
{% for el in services %}
<style>
   @media (max-width: 768px) {
    .services-hero {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('{{ el.img.url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }}
</style>
<section class="services-hero section">
    <div class="container">
      <img
        class="services-hero-img"
        src="{{ el.img.url }}"
        alt=""
      />
      <div class="services-here-wrap">
        <h1 class="title">{{ el.title }}</h1>
        <p class="text text-hero">
          {{ el.sub_title }}
        </p>
        {% endfor %}
        <ul class="services-hero-list">
          {% for el in text %}
          <li class="services-hero-item">
            <p class="text">{{ el.text }}</p>
          </li>  {% endfor %}
            </ul>
        <a class="btn" href="{% url 'contact' %}">
          CONTACT US
        </a>
      </div>
    </div>
  </section>
  
{% endblock %}
